<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Suchen</title>
    <style>
      .link--unreachable::before {
        content: "!"
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/bibliothek.css">
  </head>
  <body>
    <esi:include src="http://assets/header.html" />
    <main>
      <div class="js-content">{{{content}}}</div>
    </main>
    <esi:include src="http://assets/footer.html" />
    <script src="/js/bibliothek.js"></script>
  </body>
</html>
